* {
    margin: 0;
    padding: 0;
}
body {
    height: 2000px;
    background-color: #f1f1f2;
}
.body {
    background-color: whitesmoke;
    width: 100%;
  
}
.flex {
    display: flex;
    align-items: center;
}
.sbw {
    justify-content: space-between;
}
.navigation{
    height: 80px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 0px 5px slategray;
  }
  .nav1{
    width: 100%;
    height: 40px;
  }

  .nav1 img{
    height: 40px;
    width: 100%;
     object-fit: cover; 
  }
  .nav2{
    width: 100%;
    height: 38px;
    background-color: #f1f1f2;
  }
  .navtxtlogo{
    width: 100px;
    margin-right: 4px;
  }
  .navtxtlogo img{
    width: 50px;
    height: 30px;
  }
  
  .nav-txt{
    margin-left: 80px;
  }
  .logodiv{
    width: 50px;
    
  }
  .logodiv img{
    width: 90%;
    /* background-color: #f1f1f2; */
  }
  .nav-txt p{
    font-size: 14px;
    color: #f58b1e;
  }
  .nav-texts{
    /* justify-content: center; */
    margin-left: 350px;
    display: flex;
    padding-top: 5px;
  }
  .logo22{
    height: 32px;
  }
  .nav-texts h6{
    font-size: 16px;
    margin-left: 18px;
    color: grey;
  }
  .nav3{
    width: 100%;
    height: 32px;
    background-color: white;
    position: fixed;
  }
  .nav33{
    width: 90%;
    margin: auto;
    
  }
  .navlogo{
    width: 120px;
    margin-bottom: 60px;
    margin-right: 40px;
  }
  .navlogo img{
    width: 120px;
  }
  .navinput{
    margin-left: 80px;
    margin-bottom: 60px;
    height: 28px;
  }
  .input{
    width: 36%;
    margin-right: 10px;
    border: 1px solid slategrey;
    padding-top: 7px ;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 350px;
    border-radius: 4px;
    height: 20px;
  }
  .nav-btn{
    background-color: #f58b1e;
    color: white;
    border-radius: 4px;
    padding: 7px 15px;
    border: none;
  }
  .navinput img{
    height: 14px;
    margin: 0px 18px;
  }
  .navinput p{
    font-size: 16px;
    margin-right: 20px;
  }
  ::placeholder{
    width: 6500px;
  }
  .ayo1 {
    padding-top: 120px;
    width: 95%;
    margin: auto;
    height: auto;
    margin-bottom: 15px;
    
  }
  .ayo1_col1 { 
  background-color: white;
  width: 20%;
  height: 370px;
  border-radius: 4px;
  margin-right: 15px;
  }
  .ayo1-col2  {
    width: 55%;
    margin-right: 15px;
  }
  .ayo1-col2 img{
    width: 100%;
    height: 370px;
    border-radius: 4px;
  }
.ayo1_col3{
    padding-top: 50px;
}
.phonetxt1{
  width: 90%;
  margin: auto;
  text-align: left;
  padding-top: 180px;
  font-size: 24px;
}
.hoome{
  color: black;
  font-size: 24px;
  display: inline;
}
.phonerow1{
  width: 90%;
  margin: auto;
  height: auto;
  background-color: white;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.phonerow2{
  margin-top: 30px;
  background-color: white;
  width: 90%;
  margin: auto;
  height: 345px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.phonerow2 h4{
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 16px;
  padding-top: 10px;
}
.phonerow2 img{
  width: 185px;
  height: 185px;
  margin-top: 20px;
}
.phonerow2txt{
  color: #313133;
  font-size: 14px;
  padding-left: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
}
.phonerow2imgs h6{
  color: #313133;
  font-size: 20px;
  padding-left: 8px;
}
.phonerow2txt2{
  font-size: 12px;
  padding-left: 8px;
  color: #313133;
  text-decoration: line-through;
}
.phoneimgbox{
  border: 0px solid white;
  cursor: pointer;
}
.phoneimgbox:hover{
  scale: 1.1;
}
.phonerow3{
  margin-top: 30px;
  background-color: white;
  width: 90%;
  margin: auto;
  height: 265px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.phonerow3 img{
  width: 165px;
  height: 165px;
  margin-top: 25px;
}
.phonerow3txt1{
  color: #313133;
  font-size: 14px;
  text-align: center;
  padding-top: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
}

.phoneimgbox1{
  border: 0px solid white;
  cursor: pointer;
}
.phoneimgbox1:hover{
  scale: 1.1;
}
.phonerow4{
  margin-top: 30px;
  background-color: white;
  width: 90%;
  margin: auto;
  height: 345px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.phonerow4 h4{
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 16px;
  padding-top: 10px;
}
.phonerow4 img{
  width: 185px;
  height: 185px;
  margin-top: 20px;
}
.phonerow4txt{
  color: #313133;
  font-size: 14px;
  padding-left: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
}
.phonerow4imgs h6{
  color: #313133;
  font-size: 20px;
  padding-left: 8px;
}
.phonerow4txt2{
  font-size: 12px;
  padding-left: 8px;
  color: #313133;
  text-decoration: line-through;
}
.phoneimgbox2{
  border: 0px solid white;
  cursor: pointer;
}
.phoneimgbox2:hover{
  scale: 1.1;
}
.phonerow5{
  margin-top: 30px;
  background-color: white;
  width: 90%;
  margin: auto;
  height: 295px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.phonerow5 h4{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 10px;
}
.phonerow5 img{
  width: 190px;
  height: 97px;
  margin-top: 20px;
}
.phoneimgbox3{
  border: 0px solid white;
  cursor: pointer;
}
.phoneimgbox3:hover{
  scale: 1.1;
}
.phonerow6{
  margin-top: 30px;
  background-color: white;
  width: 90%;
  margin: auto;
  height: 345px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.phonerow6text{
  display: flex;
  justify-content: space-between;
}
.phonerow6 h4{
  font-size: 20px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 16px;
  padding-top: 10px;
}
.seed{
  color: #f58b1e;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  margin-right: 125px;
  /* margin-left: 140px; */
}
.phonerow6 img{
  width: 185px;
  height: 185px;
  margin-top: 20px;
}
.phonerow6txt{
  color: #313133;
  font-size: 14px;
  padding-left: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
}
.phonerow6imgs h6{
  color: #313133;
  font-size: 20px;
  padding-left: 8px;
}
.phonerow6txt2{
  font-size: 12px;
  padding-left: 8px;
  color: #313133;
  text-decoration: line-through;
}
.phoneimgbox4{
  border: 0px solid white;
  cursor: pointer;
}
.phoneimgbox4:hover{
  scale: 1.1;
}
.phonerow7{
  width: 90%;
  margin: auto;
  background-color: white;
  border-radius: 4px;
  padding-top: 20px;
  margin-bottom: 65px;
}
.phonetics {
  margin-bottom: 15px;
  /* margin-top: 12px; */
  /* margin-left: 22px; */
}
.phonerow7 h4{
  font-size: 24px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  color: #313133;
}
.phonerow7 p{
  font-size: 12px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  color: #313133;
}
.alltexts{
  font-size: 12px;
  font-weight: bolder;
  text-decoration: underline;
  display: inline;
  color: black;
  /* margin-left: 22px; */
}
.all{
  display: inline;
  /* margin-left: 22px; */
}
.allover{
  margin-left: 22px;
}
.phoneline{
  color: #313133;
  margin: 25px 50px;
}
.phonerow7-sec2{
  /* margin-right: 22px; */
  width: 100%;
  margin: auto;
}
.phonerow7-sec2 a{
  color: #313133;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.phoned{
  margin-bottom: 20px;
}
.phonerow8{
  background-color: #313133;
}
.phonerow8-sec1{
  width: 90%;
  margin: auto;
}
.phonerow8-sec1 img{
  width: 140px;
  height: 32px;
  color: #313133;
}
.phonerow8-sec1 h4,p,input {
  /* margin: 15px 0px; */
  color: white;
}
.input{
  width: 1px;
  border-radius: 4px;
  margin-bottom: 15px;
}
.input::placeholder{
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
}
.btned{
  border: 1px solid white;
  background-color: #313133;
  color: white;
  margin-left: 7px;
  padding: 15px 12px;
  border-radius: 5px;
  margin-bottom: 7px;
}
.poone img{
  width: 40px;
  height: 40px;
}
.pooon{
  margin-left: 10px;
}
.footer{
  background-color: #535357;
}
.footer-sec1{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.phonediv{
  margin-top: 30px;
}
.phondivs{
  margin-bottom: 160px;
}
.footer-sec1 h5{
  color: white;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 13px;
}
.logod{
  mix-blend-mode: multiply;
}
.footer-sec2{
  width: 100%;
  margin: auto;
  display: flex;
  /* margin-right: 60px; */
  /* justify-content: left; */
}
.phot{
  color: white;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 17px;
}
.phonediv2img img{
  margin-right: 15px;
  width: 24px;
  height: 25px;
  mix-blend-mode: multiply;
}
.phonediv3img img{
  margin-right: 15px;
  width: 24px;
  height: 25px;
  mix-blend-mode: multiply;
}
.phonediv2{
  margin-left: 115px;
  /* margin-right: 30px; */
}
 
  .ayo1_col3 img{
    border-radius: 4px;
  }
  .ayo1_col1 a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 100px;
    width: 20;
    height: 20;
  }
  .ay {
   margin-top: 12px;
  }
  .ayo-2 {
width: 90%;
/* margin: auto; */
margin-left: 35px;
/* margin-right: 10px; */
background-color: white;
justify-content: center;
height: 170px;
padding-bottom: 15px;
margin-bottom: 15px;
  }
  .col{
    /* box-shadow: 0.1px 0.1px 0.1px 0.1px; */
    border: 0.1px solid white;
  }
  .col:hover{
    scale: 1.1;
  }
  .ayo-2 img{
    width: 125px;
    height: 125px;
    margin-top: 10px;
    margin-left: 7px;
  }
  .ayo-2 p{
    font-size: 12px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5px;
    text-align: center;
  }
  .ayo-3 {
    width: 90%;
    /* margin: auto; */
    background-color: white;
    margin-left: 35px;
    margin-bottom: 15px;
  }
  .ayo-3 h2{
    font-size: 20px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
     'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .ayo-3 img{
    width: 180px;
    height: 185px;
    margin-top: 10px;
    margin-left: 7px;
    border-radius: 4px;
  }
  .ayo-4 {
    width: 90%;
    /* margin: auto; */
    margin-left: 35px;
    /* margin-right: 10px; */
    background-color: white;
    justify-content: center;
    height: 300px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
      }
      .ayo4_2 img{
        width: 180px;
        height: 180px;
        margin-top: 10px;
        margin-left: 7px;
        border-radius: 4px;
      }
      .ayo4_1 {
        background-color: red;
        height: 50px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }
      .ayo4_1 h2{
        color: white;
        font-size: 20px;
        font-weight: 500;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
         'Open Sans', 'Helvetica Neue', sans-serif ;
      }
      .ayo_5{
        width: 90%;
        background-color: white;
        margin-left: 35px;
        margin-bottom: 15px;
      }
      .ayotxt-5{
        background-color:  #fee2cc;
        height: 50px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }
      .ayo_5 h2{
        font-size: 20px;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
         'Open Sans', 'Helvetica Neue', sans-serif;
      }
      .ayo_5 img{
        width: 180px;
        height: 180px;
        margin-top: 10px;
        margin-left: 7px;
        border-radius: 4px;
      }
      
      .ayo_6{
        width: 90%;
        background-color: white;
        margin-left: 35px;
        margin-bottom: 15px;
      }
      .ayo_6 h2{
        font-size: 20px;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
         'Open Sans', 'Helvetica Neue', sans-serif;
      }
      .ayo_6 img{
        width: 180px;
        height: 180px;
        margin-top: 10px;
        margin-left: 7px;
        border-radius: 4px;
      }
      .ayotxt-4{
        background-color: #b5de93;
        height: 50px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }
      .ayo_7{
        width: 90%;
        background-color: white;
        margin-left: 35px;
        margin-bottom: 15px;
      }
      .ayo_7 h3{
        font-size: 20px;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
      }
      .ayo_7 img{
        width: 180px;
        height: 180px;
        margin-top: 10px;
        margin-left: 7px;
        border-radius: 4px;
      }
      .ayo-last{
        background-color: white;
        width: 90%;
        margin-left: 35px;
      }
      .ayo_last h4, p{
        margin-left: 10px;
      }
      .ayo-last h4{
        font-family: Arial, Helvetica, sans-serif;
         font-weight: 700;
      }
      .ayolast_1 {
        margin-left: 40px;
        margin-top: 20px;
      }
      .footer {
        background-color: black;
        width: 100%;
        margin-left: 0px;
        margin-top: 70px;
        height: 180px;

      }
      .foot_img{
        background-color: black;
        width: 40%;
        
      }
      .foot_1 {
        margin-top: 10px;
      }
      .foot_2{
        color: white;
        margin-top: 10px;
      }
      /* .foot_4_1{
        width: 10%;
        height: 10px;
      } */
      .foot_4_2{
        color: white;
        margin-top: 30px;
        margin-left: 15px;
        margin-bottom: 45px;
      }
      .foot_4_3{
        width: 20%;
        margin-top: 30px;
      }
      .footer2{
        background-color: #535357;
        height: 500px;
        width: 100%;
        margin-left: 0px;
        
      }
      .foot_txt1 {
        margin-top: 2px;
        margin-left: 15px;
        padding-top: 0px;
        margin-right: 30px;
        color: white;
        margin-bottom: 220px;
      }
      .foot_txt1_1{
        margin-top: 15px;
      }
      .foot_txt1 h4, p{
        margin-bottom: 6px;
      }
      .foot_txt2_2{
        margin-top: 15px;
        margin-bottom: 220px;
      }
      .foot_txt2{
        color: white;
        margin-top: 10px;
        margin-right: 30px ;
      }
      .foot_txt2_1{
        margin-top: 15px;
      }
      .foot_txt3{
        color: white;
        margin-right: 30px;
        margin-top: 5px;
      }
      .foot_txt3_1{
        margin-top: 15px;
      }
      .foot_text3_2{
        margin-top: 15px;
        margin-bottom: 220px;
      }
      .foot_txt4{
        color: white;
        margin-left: 20px;
      }
      .footer_txt4_1{
        margin-top: 15px;
      }
      
